<div *ngIf='selezione'>
  
  <ng-template *ngIf='inputSelected; then bloccoIf else bloccoElse'></ng-template>

  <ng-template #bloccoIf>
    <h1>Ricerca per titolo e autore</h1>
    <input id="ricerca" type="text" placeholder="Fai una ricerca" (keyup)="SearchOnInput($event)" />
    <div>{{output}} corrispondenze</div>
  </ng-template>

  <ng-template #bloccoElse>
    <descrizione 
    (selezioneChanged)='HandleSelezioneChanged()'
    
    [volumeTrovato]='volumeTrovato' 
    
    [indiceVolume]='indiceVolume' 
    [selezione]='selezione'> 
  </descrizione>
  </ng-template>

  <br>
  <button (click)="Clean()">Esci</button>
</div>