/* Add application styles & imports to this file! */
body {
  text-align: center;
}

button {
  border-radius: 18px;
  margin: 5px;
  padding: 8px 10px 8px 10px;
  border: none;
}

label {
  margin: 5px;
  font-weight: bold;
}